<div class="hdrWrap">
    <header>
        <h1>게시판</h1>
        <nav>
            <ul class="clearfix">
                <li><a href="/">게시판</a></li>
            </ul>
        </nav>
    </header>
</div>