<div class="hdrWrap">
    <header>
        <h1>익명의 게시판</h1>
        <nav>
            <ul class="clearfix">
                {{#if session.userid}}
                <li><a href="/out">로그아웃</a></li>
                <li><a href="/board/list">게시판</a></li>
                {{else}}
                <li><a href="/">로그인</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
</div>