{{#section 'css'}}
    <style>
        section{
            width: 50%;
            margin: 0 auto;
        }
        section p{
            margin-top: 10px;
        }
        section p span:nth-of-type(1){
            display: inline-block;
            width: 30%;
            text-align: right;
        }
        section p span:nth-of-type(2){
            margin-left: 20px;
            display: inline-block;
        }

    </style>
    {{/section}}
      <div class="cntWrap">
          <div class="content">
              <header>
                  <h2>회원정보</h2>
              </header>
              <section>
                  <p><span>아이디</span><span>siestageek</span></p>
                  <p><span>이름</span><span>으하하하</span></p>
                  <p><span>이메일</span><span>zzyzigy@naver.com</span></p>
                  <p><span>가입일</span><span>2014-05-01 12:01:33</span></p>
              </section>
          </div>
      </div>

